#s-1d4e7901-ed97-45b9-82b9-471f00278d2b > #backgroundBox {
  background-color: #E8FFDE;
  position: absolute;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b > #alignmentBox {
  position: relative;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 {
  position: absolute;
  width: 260.7885871946771px;
  min-height: 60.478873239436325px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 10.5pt;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 span#rtr-s-Paragraph_5_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_5 span#rtr-s-Paragraph_5_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 10.5pt;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_6 {
  position: absolute;
  width: 216.39599609375px;
  height: 2.5634765625px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_2 {
  position: absolute;
  width: 532.5168198149394px;
  min-height: 903.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FF6363;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_2 {
  position: absolute;
  width: 371.570068359375px;
  height: 4.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_3 {
  position: absolute;
  width: 375.190185546875px;
  height: 4.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_4 {
  position: absolute;
  width: 378.809814453125px;
  height: 4.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_5 {
  position: absolute;
  width: 378.809814453125px;
  height: 4.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 {
  position: absolute;
  width: 928.7415771484372px;
  min-height: 64.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F9C891;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Ellipse_2 {
  width: 176.4565492011934px;
  height: 151.99999999999997px;
  min-height: 151.99999999999997px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 6.0px;
  stroke: #C7751A;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #F9B366;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_12 {
  position: absolute;
  width: 130.99999999999977px;
  min-height: 64.00000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_6 {
  position: absolute;
  width: 134.99999999999977px;
  min-height: 64.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_6 span {
  color: #C37622;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #C37622;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 {
  position: absolute;
  width: 928.7415771484368px;
  min-height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F9C891;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #C7751A;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #C7751A;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #C7751A;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #C7751A;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Image_2 {
  position: absolute;
  width: 532.0px;
  height: 904.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_1 {
  position: absolute;
  width: 130.99999999999977px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_2 {
  position: absolute;
  width: 130.99999999999994px;
  min-height: 50.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_3 {
  position: absolute;
  width: 130.99999999999977px;
  min-height: 50.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_3 span {
  color: #C37622;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #C37622;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Image_1 {
  position: absolute;
  width: 225.0px;
  height: 225.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_4 {
  position: absolute;
  width: 117.99999999999989px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_4 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_1 {
  position: absolute;
  width: 221.2978515625px;
  height: 2.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_7 {
  position: absolute;
  width: 140.65793385255654px;
  min-height: 41.09709324684917px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bell MT',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_7 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_8 {
  position: absolute;
  width: 117.99999999999989px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_8 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_7 {
  position: absolute;
  width: 221.2978515625px;
  height: 2.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_9 {
  position: absolute;
  width: 140.65793385255654px;
  min-height: 41.09709324684917px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bell MT',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_9 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_10 {
  position: absolute;
  width: 117.99999999999989px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_10 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_8 {
  position: absolute;
  width: 221.2978515625px;
  height: 2.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_11 {
  position: absolute;
  width: 140.65793385255654px;
  min-height: 41.09709324684917px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bell MT',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_11 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_13 {
  position: absolute;
  width: 190.0px;
  min-height: 26.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_13 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_9 {
  position: absolute;
  width: 221.2978515625px;
  height: 2.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_14 {
  position: absolute;
  width: 140.65793385255654px;
  min-height: 41.09709324684917px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bell MT',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_14 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_15 {
  position: absolute;
  width: 117.99999999999989px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_15 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Path_10 {
  position: absolute;
  width: 221.2978515625px;
  height: 2.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_16 {
  position: absolute;
  width: 140.65793385255654px;
  min-height: 41.09709324684917px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bell MT',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_16 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Bell MT',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 {
  position: absolute;
  width: 368.1074860263784px;
  min-height: 80.66666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB Demi',Arial;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 39.0px;
  border-top-right-radius: 39.0px;
  border-bottom-right-radius: 39.0px;
  border-bottom-left-radius: 39.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #1EAAF1;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #1EAAF1;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #1EAAF1;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #1EAAF1;
  border-top-left-radius: 39.0px;
  border-top-right-radius: 39.0px;
  border-bottom-right-radius: 39.0px;
  border-bottom-left-radius: 39.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 39.0px;
  border-top-right-radius: 39.0px;
  border-bottom-right-radius: 39.0px;
  border-bottom-left-radius: 39.0px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 span {
  color: #FFF8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFF8F8;
  text-decoration: none;
  font-family: 'Berlin Sans FB Demi',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1d4e7901-ed97-45b9-82b9-471f00278d2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}